<form method="post" action="/calculate">
  <input name="x">
  <select name="operations">
    <option value="plus">+</option>
    <option value="minus">-</option>
    <option value="multiply">ร</option>
    <option value="divide">รท</option>
  </select>
  <input name="y">
  <input type="submit" value="Calculate">
</form>
